# Insert all passwords for users in this file so script will automatically login
# Include a line for each wiki using the format below.  A sample line has been
# included for wikipedia, wikidata test, and wikidata production (in that order):

#('en', 'wikipedia', 'User', 'password')
#('test', 'wikipedia', 'User', 'password')
#('wikidata', 'wikidata', 'User', 'password')
